// * media query mixin
@mixin media ($_property, $_value) {
    @media ($_property: $_value) {
        @content
    }
}

;

// * font style mixin
@mixin font-style ($_font-color, $_font-size: $text-size, $_line-heigth: $text-line-height) {
    font-size: $_font-size;
    line-height: $_line-heigth;
    color: $_font-color;
}

;