// * colors 
$white-color: #FFFFFF;
$dark-white-color: #F7F9FC;
$text-color: #6E7191;
$dark-blue: #211F54;
$blue-color: #0075FF;
$border-color: #EFF0F6;
$grey-color: #6E7191;

// * elements font-size
$text-size: 1.313rem;
$subtext-size: 1.125rem;
$title-size: 3rem;
$subtitle-size: 1.75rem;

// * text line height
$text-line-height: 1.875rem;
$title-line-height: 3.625rem;
$subtitle-line-height: 2.125rem;