.cards-block {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_large {
            flex-basis: 374px;

            &>.cards-block__card-image {
                margin-bottom: 39px;
            }
        }
    }

    &__card-title {
        text-align: center;

        &_large {
            @include font-style($dark-blue, $subtitle-size, 2.25rem);
            margin-bottom: 16px
        }
    }

    &__card-text {
        @include font-style($text-color, $text-size, $text-line-height);
        text-align: center;
    }
}

// ! media query
@include media (max-width, 768px) {
    .cards-block {
        &__card {
            &_large:nth-child(2) {
                margin: 20px 0 20px 0;
            }
        }
    }
}