.content-block {
    max-width: 678px;

    &_direction-row {
        width: 100%;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 20px;
        @include font-style($dark-blue, $title-size, $title-line-height);

        &_small {
            max-width: 475px;
        }

        &_large {
            max-width: 518px;
            @include font-style($dark-blue, 4.25rem, 4.625rem)
        }
    }

    &__text {
        min-width: 474px;
        @include font-style($grey-color)
    }

    &__title_align-center,
    &__text_align-center {
        text-align: center;
    }

    &__title_light,
    &__text_light {
        color: $white-color;
    }


    &__controls {
        display: flex;
        flex-flow: row wrap;
    }

    &__contacts {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }

    &__button {
        margin-right: 28px;
    }

    &__number {
        margin-left: 16.5px;
        position: relative;
        @include font-style($dark-blue, $subtitle-size, 2.25rem);
        font-weight: 700;
        align-self: flex-end;

        &::before {
            content: 'Call us now';
            position: absolute;
            left: 0;
            top: -100%;
            @include font-style ($text-color);
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

        &_light,
        &_light::before {
            color: $white-color;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        margin: 26px 0 48px 0;
    }

    &__items-list:last-child {
        margin-left: 56px;
    }

    &__list-item {
        position: relative;
        margin-bottom: 23px;
        cursor: default;

        @include font-style($dark-blue, $subtext-size, 1.25rem);
        font-weight: 700;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: url(../../images/icons/checked_icon.png);
            position: absolute;
            left: -35px;
            top: calc(50% - 26px/2);

        }
    }

}

// ! media query
@include media(min-width, 1000px) {
    .content-block {
        &__list-item {
            &::before {
                -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                animation: heartbeat 1.5s ease-in-out infinite both;
            }

            &:hover {
                animation-play-state: paused;
            }
        }
    }
}

@include media (max-width, 768px) {
    .content-block {

        &_direction-row {
            flex-direction: column;
        }

        &__title_large {
            font-size: 3.625rem;
        }
    }
}

@include media (max-width, 500px) {
    .content-block {

        &__title {
            font-size: 2.5rem;
        }

        &__title,
        &_large {
            text-align: center;
        }

        &__text {
            min-width: 200px;
            text-align: center;
        }
    }
}

@include media (max-width, 375px) {
    .content-block {
        &__title_large {
            font-size: $title-size;
        }

        &__text {
            font-size: $subtext-size;
        }

        &__items {
            flex-direction: column;
            justify-content: center;
        }

        &__items-list:last-child {
            margin: 35px 0 0 0;
        }
    }
}