.menu {
    margin-right: 275px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;

        &>li {
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        @include font-style($dark-blue, 1.125rem);
        position: relative;
        transition: all 0.3s ease;
    }

}

@include media (min-width, 1000px) {
    .menu {

        &__link {

            &::after,
            &_active::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -50%;

                width: 100%;
                height: 3px;
                border-radius: 14px;
                background-color: $blue-color;
            }

            &::after {
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
            }

            &:hover,
            &:hover::after {
                color: $blue-color;
                opacity: 1;
                visibility: visible;

                transition: all 0.6s ease;
            }

            &_active {
                color: $blue-color;
                pointer-events: none;

                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }



        }
    }
}

@include media(max-width, 1200px) {
    .menu {
        margin-right: 0;
    }
}

@include media(max-width, 1000px) {
    .menu {

        &__icon {
            & {
                z-index: 5;
                display: block;
                position: relative;
                width: 30px;
                height: 18px;
                cursor: pointer;
            }

            & span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;

                transition: all 0.3s ease 0s;
                background-color: $dark-blue;
                border-radius: 14px;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &_active span {
                transform: scale(0) translate(0px, -50px);
            }

            &_active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }

            &_active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }


        }

        &__body {
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 3;

            width: 100%;
            height: 100%;

            background-color: $white-color;
            transition: left 0.3s ease 0s;

            &_active {
                left: 0;
            }
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 15vh;

            &>li {
                margin: 10px 0;
            }
        }

        &__link {
            font-size: $subtitle-size;
        }
    }
}

@media(max-width: 1000px) and (orientation: landscape) {
    .menu {

        &__body_active {
            overflow: auto;

            &::before {
                content: '';
                width: 100%;
                height: 80px;
                background-color: inherit;
                position: fixed;
                left: 0;
                top: 0;
                z-index: 4;
            }
        }

        &__list {
            margin-top: 25vh;
        }
    }
}