html {
    scroll-behavior: smooth;
    font-size: 16px;
    /* 1rem = 16px */
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    &[data-body-scroll="false"] {
        overflow-y: hidden;
    }
}