.services-section {
    padding: 218px 0 240px 0;

    &__inner-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    &__content-block {
        max-width: 664px;
    }

    &__cards-block {
        margin-top: 58px;
    }

    &__controls {
        max-width: 100%;
        margin-top: 58px;
        display: flex;
        align-items: center;
        justify-content: center;

        &>a:first-child {
            margin-right: 28px;
        }
    }
}

// ! media query 
@include media(max-width, 768px) {
    .services-section {
        &__controls {
            flex-direction: column;

            &>a:first-child {
                margin: 0 0 15px 0;
            }
        }
    }
}

@include media(max-width, 425px) {
    .services-section {
        padding: 90px 0 90px 0;
    }
}